.movie-schedule-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(202, 230, 244);
    margin: 0 auto;
}

.select-box {
    display: flex;
    justify-content: space-around;
}

.cinema-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 240px;

}

.viewtime-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 240px;

}

.my-button {
    display: flex;
    justify-content: center;
}