.con-detail {
  height: 200px;
  width: 100%;
}

.con {
  height: 100%;
  width: 100%;
  background: #ecfefe;
}

.upper-con {
  height: 400px;
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-around;
}

.movie-attr {
  width: 50%;
}

.post-con {
  height: 300px;
  width: 200px;
}
.post-con img {
  height: 300px;
  width: 200px;
}
.name {
  font-size: 45px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px;
}

.attr {
  font-size: 18px;
  margin-bottom: 20px;
  color: #0b0d0b;
}

.detail-text-con {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.detail-text {
  font-size: 20px;
  padding: 50px;
  width: 80%;
  height: 200px;
  word-break: break-all;
}
