.movie-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-home .home-carousel {
    width: 80vw;
    height: 450px;
}

.movie-list {
    width: 80%;
    margin: 30px;
}

.movie-home .movie-pagination {
    margin: 20px;
}

.movie-home .home-carousel .carousel-img {
    width: 80vw;
    height: 450px;
}