.no-pair-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 75vh;
}

.no-partner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.no-partner-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.no-partner-info div {
    font-size: 30px;
    margin: 20px auto;
}
.big-Logo {
    display: flex;
    justify-content: center;
}

.big-Logo img {
    width: 150px;
    height: 150px;
}

.big-Logo span {
    display: inline-block;
    margin-left: 30px;
    font-size: 80px;
    color: black;
}



