.order-detail {
  display: flex;
  align-items: center;
  text-align: center;
}
.order-box {
  display: flex;
  justify-content: center;
}
.order-detail-item {
  font-size: 150%;
}
.ant-descriptions{
    
}
