.user-layout {
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.user-layout .ant-layout-header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10vh;
  max-height: 65px;
  min-height: 65px;
}

.user-layout .ant-layout-content {
  display: flex;
  width: 80vw;
  min-height: 600px;
  height: 75vh;
  background-color: gainsboro;
}

.user-layout .ant-layout-footer {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-color: #001529;
  color: white;
}